body {
	text-align: center;
	margin:2px auto; 
	padding:0 0 20px 0; 
	background: #fff; 
	font-size:12px; 
	color:#000;
	text-align:center;
	line-height:18px;
	scrollbar-face-color:       #DEE3E7;
	scrollbar-highlight-color:  #FFFFFF;
	scrollbar-shadow-color:     #DEE3E7;
	scrollbar-3dlight-color:    #D1D7DC;
	scrollbar-arrow-color:      #006699;
	scrollbar-track-color:      #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	}
ul {margin:0 0;padding:0px;border:medium none;line-height:normal;list-style-type:none;}
form {margin:0;}
.text {
	font-family: Tahoma;
	color : #000000;
	font-size: 12px;
	font-weight: normal;
}
.tHeading,.list_heading {/*Ϊ������*/
	width:100%;
	background:url(/bsm_dizhi/images/table_bg_image.gif);
	font-family: Tahoma; 
	font-size: 12px; 
	color: #FFFFFF; 
	font-weight: bold;
	padding-left:5px;
	}
.list{margin-top:10px;padding:1px;background:#fff;border:1px solid #069;text-align:left;	}
.list ul{	padding-top:1px;	width:100%;	height:normal;	line-height:22px;	text-align:center;	text-valign:middle;	}
.list li{float:left;text-align:left;font-family: Tahoma; font-size: 12px; }
.list_ul{width:100%;background:#efefef;margin-bottom:1px;}

.bg_input {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #069
}
.showmore
{	/*used in nsbd_dx_search.php and txl_search_grou.php
	show detail information of records*/
background:#fff;border:1px solid #ccc;line-height:16px;margin-right:5px;
}
.dx_bs{/*used in nsbd_dx_search.php*/
	margin-left:5px;width:45px;height:45px;padding:3px;border:1px solid #999;line-height:12px;background:#f8f8f8;text-align:center;
	}
	
.input_border{	font-family: Tahoma;color : #000000;	font-size: 12px;	font-weight: normal;border:1px solid #069;}


.pagetext {
	font-family: Tahoma;
	color : #008000;
	font-size: 12px;
	font-weight: normal;
}
.error {
	font-family: Tahoma;
	color : #FF0000;
	font-size: 12px;
	font-weight: normal;
}

.tiText {
	font-family: Tahoma;
	color : #000000;
	font-size: 12px;
	font-weight: normal;
}

.twText {
	font-family: Tahoma;
	color : #FFFFFF;
	font-size: 12px;
	font-weight: normal;
}

.bold {
	font-family: Tahoma;
	color : #000000;
	font-size: 12px;
	font-weight: bold;
}

.smText {
	font-family: Tahoma;
	color : #000000;
	font-size: 12px;
	font-weight: normal;
}

.highlight {
	background-color: #ffff66
}

.heading {
	font-family: Tahoma;
	color : #000000;
	font-size: 14px;
	font-weight: bold;
}

.lgText {

	font-family: Tahoma; 
	font-size: 12px; 
	color: #000000; 
	font-weight: bold;
}



.tiHeading {
	font-family: Tahoma; 
	font-size: 12px; 
	color: #000000; 
	font-weight: bold;
}


a  {
	color : #336699;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}

a:hover {
	color : #FF0000;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: normal;
}

a:visited {
	color : #006699;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: normal;
}

a:visited:hover {
	color : #FF0000;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: normal;
}

a.boldLink:hover {
	color : #FF0000;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.boldLink  {
	color : #336699;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

a.boldLink:visited {
	color : #006699;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.boldLink:visited:hover {
	color : #FF0000;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.smLink  {
	color : #336699;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}

a.smLink:hover {
	color : #FF0000;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: normal;
}

a.smLink:visited  {
	color : #006699;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}

a.smLink:visited:hover {
	color : #FF0000;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: normal;
}

a.nav  {
	color : #444444;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}


a.nav:hover {
	color : red;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.nav:visited {
	color : #006699;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.nav:visited:hover {
	color : red;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}


a.npLink  {
	color : black;
	font-family: Tahoma;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}


a.npLink:hover {
	color : red;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.npLink:visited {
	color : black;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.npLink:visited:hover {
	color : red;
	font-family: Tahoma;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}


hr {
	height: 0px; 
	border: solid #D1D7DC 0px; 
	border-top-width: 1px;
}

.recentnews {
	font-family: Tahoma;
	font-size: 12px;
	padding-left: 20;
	padding-top: 6;
	padding-bottom: 6;

}
select{
	font-family: Tahoma;
	font-size: 12px;
}
input{
	font-family: Tahoma;
	font-size: 12px;
}
table{
	font-family: Tahoma;
	font-size: 12px;
}